@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap") layer(CDNFont);
@layer Reset, CDNFont, Guide, Typography, Components, Rounded, Layout;
@layer Reset {
  /* Reset */
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div,
  p,
  blockquote,
  pre,
  code,
  address,
  ul,
  ol,
  li,
  nav,
  section,
  article,
  header,
  footer,
  main,
  aside,
  dl,
  dt,
  dd,
  table,
  thead,
  tbody,
  tfoot,
  label,
  caption,
  th,
  td,
  form,
  fieldset,
  legend,
  hr,
  input,
  button,
  textarea,
  object,
  figure,
  figcaption,
  dialog {
    margin: 0;
    padding: 0;
  }
  body,
  textarea,
  button,
  img,
  fieldset,
  dialog {
    border: none;
  }
  textarea {
    resize: none;
  }
  ul,
  ol,
  li {
    list-style: none;
  }
  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
  }
  address,
  cite,
  code,
  em,
  i {
    font-style: normal;
    font-weight: normal;
  }
  u,
  ins,
  a {
    text-decoration: none;
    color: inherit;
  }
  button {
    cursor: pointer;
    background-color: transparent;
  }
  /* Normalize */
  input[type=number],
  input[type=text],
  input[type=password],
  input[type=url],
  input[type=email],
  input[type=tel],
  input[type=date],
  textarea {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  input[type=search]::-webkit-search-decoration,
  input[type=search]::-webkit-search-cancel-button,
  input[type=search]::-webkit-search-results-button,
  input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
  input[type=date] {
    position: relative;
  }
  input[type=date]::-webkit-clear-button,
  input[type=date]::-webkit-inner-spin-button {
    display: none;
  }
  input[type=date]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    color: transparent;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  input[type=date]::before {
    content: attr(data-placeholder);
    width: 100%;
  }
  input[type=date]:valid::before {
    display: none;
  }
}
@layer Typography {
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1rem;
    font-family: "Noto Sans KR", sans-serif;
  }
}
@layer Components.Button {
  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    box-sizing: border-box;
  }
  .btn.fullSize {
    width: 100%;
  }
  .btn.rounded {
    border-radius: 0.8rem;
  }
  .btn.rounded-full {
    border-radius: 100rem;
  }
  .btn.ico1::before {
    background: url(../images/ico_heart-black.svg) no-repeat;
    background-size: contain;
    content: "";
    width: 2.4rem;
    height: 2.4rem;
  }
  .btn.base {
    height: 4rem;
    font-size: 1.6rem;
    padding-inline: 4rem;
    border: 0.1rem solid;
    font-weight: 500;
  }
  .btn.lg {
    height: 4.6rem;
    font-size: 1.6rem;
    padding-inline: 0rem;
    border: 0.1rem solid;
    font-weight: 500;
  }
  .btn.xlg {
    height: 5.2rem;
    font-size: 1.8rem;
    padding-inline: 0rem;
    border: 0.1rem solid;
    font-weight: 500;
  }
  .btn.black {
    background-color: #141718;
    color: #fff;
    border-color: #141718;
  }
  .btn.black-outline {
    background-color: #fff;
    color: #141718;
    border-color: #141718;
  }
  .btn-text {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
    padding-bottom: 0.4rem;
    font-weight: 500;
    line-height: 2.4rem;
    font-size: 1.6rem;
    color: #141718;
    border-bottom: 0.1rem solid #141718;
  }
  .btn-text::after {
    background: url(../images/ico_next.svg) no-repeat center;
    background-size: contain;
    content: "";
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
  }
  .btn-text.blue {
    font-size: 1.4rem;
    color: #377dff;
    border-bottom: 0.1rem solid #377dff;
  }
  .btn-text.blue::after {
    background: url(../images/ico_next-blue.svg) no-repeat center;
    background-size: contain;
  }
  .btn-close {
    background: url(../images/ico_close.svg) no-repeat center;
    background-size: 1.2rem 1.2rem;
    display: inline-block;
    width: 4.4rem;
    height: 4rem;
  }
  .btn-search {
    background: url(../images/ico_search.svg) no-repeat center;
    background-size: 2.4rem 2.4rem;
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
  }
  .btn-user {
    background: url(../images/ico_user.svg) no-repeat center;
    background-size: 2.4rem 2.4rem;
    display: inline-block;
    width: 4rem;
    height: 6rem;
  }
  .btn-heart {
    background: url(../images/ico_heart.svg) no-repeat center #fff;
    background-size: 2rem 2rem;
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.12);
  }
  .list-type2 .btn-heart {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
  }
  .btn-addcart-wrap {
    position: absolute;
    bottom: 1.6rem;
    width: 100%;
    padding-inline: 2rem;
    box-sizing: border-box;
  }
  .shoppingbag {
    display: flex;
    align-items: center;
  }
  .shoppingbag__count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #141718;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1rem;
  }
  .shoppingbag button {
    background: url(../images/ico_shoppingbag.svg) no-repeat center;
    background-size: 2.4rem 2.4rem;
    display: inline-block;
    width: 4rem;
    height: 6rem;
  }
  .btn-sitemap {
    display: none;
  }
  @media (1000px > width) {
    .btn-sitemap {
      display: block;
      background: url(../images/ico_sitemap.svg) no-repeat center;
      background-size: contain;
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}
@layer Components.Bar {
  .bar-type1 {
    display: flex;
    align-items: center;
  }
  .bar-type1 > * + * {
    display: flex;
    align-items: center;
  }
  .bar-type1 > * + *::before {
    content: "";
    width: 0.1rem;
    height: 2.4rem;
    margin-inline: 6.5rem;
    background-color: #6c7275;
  }
}
@layer Components.Text {
  .heading-type1 {
    color: #000;
    font-size: 4rem;
    font-weight: 500;
    line-height: 4.4rem;
    letter-spacing: -0.04rem;
  }
  @media (1000px > width) {
    .heading-type1 {
      font-size: 3.4rem;
      line-height: 3.8rem;
      letter-spacing: -0.06rem;
    }
  }
  .heading-type2 {
    color: #23262f;
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 3.4rem;
    letter-spacing: -0.06rem;
  }
  @media (1000px > width) {
    .heading-type2 {
      font-size: 2rem;
      line-height: 2.8rem;
    }
  }
  .heading-type3 {
    color: #000;
    font-size: 2rem;
    font-weight: 600;
    line-height: 3.2rem;
  }
  @media (1000px > width) {
    .heading-type3 {
      font-size: 1.6rem;
      line-height: 2.6rem;
    }
  }
  .heading-type4 {
    color: #000;
    font-size: 5.4rem;
    font-weight: 500;
    line-height: 5.8rem;
    letter-spacing: -0.1rem;
  }
  @media (1000px > width) {
    .heading-type4 {
      font-size: 4rem;
      line-height: 4.4rem;
      letter-spacing: -0.04rem;
    }
  }
}
@layer Components.Tab {
  .tab-type1 {
    border-bottom: 0.1rem solid #e8ecef;
  }
  .tab-type1 > ul {
    display: flex;
    gap: 8rem;
  }
  .tab-type1 li {
    color: #807e7e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.2rem;
    letter-spacing: -0.04rem;
  }
  .tab-type1 li.--active {
    color: #121212;
    border-bottom: 0.1rem solid #121212;
  }
}
@layer Components.List {
  .list-type4 {
    color: #000;
  }
  .list-type4 li {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
  }
  .list-type4 li::before {
    display: inline-block;
    margin: 1rem 0.4rem 0;
    align-self: start;
    content: "";
    width: 0.4rem;
    height: 0.4rem;
    background-color: #000;
    border-radius: 10rem;
  }
  .list-type1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.4rem;
  }
  @media (1000px > width) {
    .list-type1 {
      grid-template-columns: repeat(2, 1fr);
      gap: 0.8rem;
    }
  }
  .list-type1 li {
    padding: 4.8rem 3.2rem;
    background-color: #f3f3f3;
  }
  @media (1000px > width) {
    .list-type1 li {
      padding: 3.2rem 1.6rem;
    }
  }
  .list-type1__title {
    margin-top: 1.6rem;
    color: #141718;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.8rem;
  }
  @media (1000px > width) {
    .list-type1__title {
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 2.2rem;
    }
  }
  .list-type1__desc {
    margin-top: 0.8rem;
    color: #6c7275;
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
  @media (1000px > width) {
    .list-type1__desc {
      line-height: 2.2rem;
    }
  }
  .list-type1__img {
    width: 4.8rem;
    height: 4.8rem;
  }
  .list-type1__img.delivery {
    background: url(../images/ico_delivery.svg) no-repeat center;
    background-size: contain;
  }
  .list-type1__img.money {
    background: url(../images/ico_money.svg) no-repeat center;
    background-size: contain;
  }
  .list-type1__img.lock {
    background: url(../images/ico_lock.svg) no-repeat center;
    background-size: contain;
  }
  .list-type1__img.call {
    background: url(../images/ico_call.svg) no-repeat center;
    background-size: contain;
  }
  .list-type2 .product-list-img {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .product-list-thumb {
    position: relative;
    overflow: hidden;
  }
  .product-list-thumb img {
    width: 100%;
  }
  .product-list-name1 {
    color: #141718;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.6rem;
  }
  .product-list-price1 {
    display: flex;
    gap: 1.2rem;
  }
  .product-list-price1 .price {
    color: #141718;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.2rem;
  }
  .product-list-price1 .ori-price {
    color: #6c7275;
    font-size: 1.4rem;
    line-height: 2.2rem;
    text-decoration: line-through;
  }
  .product-list-content {
    display: grid;
    gap: 0.4rem;
  }
  .list-type3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }
  @media (1000px > width) {
    .list-type3 {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .list-type3 img {
    width: 100%;
  }
  .list-type3__title {
    color: #23262f;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.8rem;
  }
  @media (1000px > width) {
    .list-type3__title {
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 2.6rem;
    }
  }
  .list-type3__content {
    margin-top: 2.4rem;
  }
  @media (1000px > width) {
    .list-type3__content {
      margin-top: 1.6rem;
    }
  }
  .list-type3__date {
    color: #6c7275;
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
@layer Components.Table {
  caption {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
}
.textarea, .select, .input {
  padding-inline: 1.6rem;
  height: 4rem;
  border: 0.1rem solid #000;
  border-radius: 0.4rem;
  box-sizing: border-box;
  background-color: #000;
  color: #000;
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: -0.05rem;
}
.textarea::placeholder, .select::placeholder, .input::placeholder {
  color: #000;
}
.textarea:disabled, .select:disabled, .input:disabled {
  background: rgba(0, 0, 0, 0.1);
}
[readonly].textarea, [readonly].select, [readonly].input {
  background: rgba(0, 0, 0, 0.05);
}

.radio-type1 + label {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  color: #000;
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: -0.05rem;
}

@layer Components.Form {
  .input {
    width: var(--w, 100%);
  }
  .select {
    background: url(../images/bg_select.svg) no-repeat right 1.2rem center;
    background-size: contain;
    padding-right: 3rem;
    appearance: none;
    width: var(--w, 100%);
  }
  .textarea {
    width: 100%;
    height: calc(var(--height, 10) / 10 * 1rem);
    padding-block: 1.5rem;
  }
  .textarea::placeholder {
    color: #000;
    font-family: "Noto Sans KR";
    font-size: 1.2rem;
    line-height: 1.2rem;
    letter-spacing: -0.05rem;
  }
  .search-type1 {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    height: 4.6rem;
    padding-inline: 1.6rem;
    border: 0.1rem solid #6c7275;
    border-radius: 0.6rem;
    background-color: #fff;
  }
  .search-type1 input {
    width: calc(100% - 2.4rem - 0.8rem);
    height: 100%;
    border: none;
    background-color: #fff;
  }
  .search-type1 input::placeholder {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
  .radio-type1 {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .radio-type1 + label::before {
    background: url(../images/ico_radio_off.svg) no-repeat;
    background-size: contain;
    content: "";
    width: 2.4rem;
    height: 2.4rem;
  }
  .radio-type1:checked + label::before {
    background: url(../images/ico_radio_on.svg) no-repeat;
    background-size: contain;
  }
}
@layer Components.Rounded {
  .rounded8 {
    border-radius: 0.8rem;
  }
  .rounded-full {
    border-radius: 100rem;
  }
}
@layer Components.Board {}
@layer Components.Sitemap {
  .sitemap {
    width: 100%;
    height: 100%;
    padding: 2.4rem;
    box-sizing: border-box;
    transition: 0.5s;
    transition: 0.5s allow-discrete;
    inset: 0rem 0 0 100%;
  }
  .sitemap:popover-open {
    inset: 0 0 0 0%;
  }
  @starting-style {
    .sitemap:popover-open {
      inset: 0rem 0 0 100%;
    }
  }
}
@layer Components.Logo {
  .logo {
    background: url(../images/logo.svg) no-repeat center;
    background-size: contain;
    display: inline-block;
    width: 10.5rem;
    height: 2.4rem;
  }
  @media (1000px > width) {
    .logo {
      width: 7rem;
      height: 2.4rem;
    }
  }
  .logo.white {
    background: url(../images/logo_white.svg) no-repeat center;
    background-size: contain;
  }
}
@layer Components.Badge {
  .badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.4rem;
  }
  .badge.base {
    height: 2.4rem;
    font-size: 1.6rem;
    padding-inline: 1.4rem;
    border: 0.1rem solid;
    font-weight: 700;
  }
  .badge.lg {
    height: 3.4rem;
    font-size: 1.8rem;
    padding-inline: 1.8rem;
    border: 0.1rem solid;
    font-weight: 700;
  }
  .badge.white {
    background-color: #fff;
    color: #141718;
    border-color: #fff;
  }
  .badge.green {
    background-color: #38cb89;
    color: #fff;
    border-color: #38cb89;
  }
  .list-type2 .badge-group {
    display: grid;
    gap: 0.8rem;
    position: absolute;
    top: 1.6rem;
    left: 1.6rem;
  }
}
@layer Components.Rating {
  .rating {
    background: url(../images/ico_rating.svg) no-repeat center;
    background-size: contain;
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
  }
}
@layer Components.Banner {
  .adver-banner {
    display: grid;
    grid-template-columns: 720px 1fr;
    align-items: center;
    gap: 7.2rem;
  }
  @media (1000px > width) {
    .adver-banner {
      grid-template-columns: none;
      gap: 5.8rem;
    }
    .adver-banner__img img {
      width: 100%;
    }
    .adver-banner__content {
      padding-inline: 3.2rem;
      box-sizing: border-box;
    }
  }
  .adver-banner__subtitle {
    color: #377dff;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.6rem;
  }
  .adver-banner__title {
    margin-block: 1.6rem;
    color: #141718;
    font-size: 4rem;
    font-weight: 500;
    line-height: 4.4rem;
    letter-spacing: -0.04rem;
  }
  @media (1000px > width) {
    .adver-banner__title {
      font-size: 3.4rem;
      line-height: 3.8rem;
      letter-spacing: -0.06rem;
    }
  }
  .adver-banner__desc p {
    color: #141718;
    font-size: 2rem;
    line-height: 3.2rem;
  }
  @media (1000px > width) {
    .adver-banner__desc p {
      font-size: 1.6rem;
      line-height: 2.6rem;
    }
  }
}
@layer Component.Breadcrumbs {
  .breadcrumbs {
    display: flex;
    gap: 1.6rem;
  }
  .breadcrumbs > div {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
    color: #605f5f;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem;
  }
  .breadcrumbs > div::after {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    background: url(../images/ico_breadcrumbs1.svg) no-repeat center;
    background-size: contain;
  }
  .breadcrumbs > div:last-child {
    color: #121212;
  }
  .breadcrumbs > div:last-child::after {
    background-image: none;
  }
}
@layer Components.Product {
  .product-info-name1 {
    color: #141718;
    font-size: 4rem;
    font-weight: 500;
    line-height: 4.4rem;
    letter-spacing: -0.04rem;
  }
  .product-info-desc1 {
    color: #6c7275;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  .product-info-price1 .price {
    color: #121212;
    font-size: 2.8rem;
  }
  .product-info-price1 .ori-price {
    color: #6c7275;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.8rem;
    text-decoration: line-through;
  }
}
@layer Components.Time {
  .time-info1__title {
    color: #343839;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  .time-info1__content {
    display: flex;
    gap: 1.6rem;
    margin-top: 1.2rem;
  }
  .time-info1__time p {
    text-align: center;
    color: #6c7275;
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .time-info1__item {
    padding: 1rem;
    background-color: #f3f3f3;
    color: #141718;
    font-size: 3.4rem;
    font-weight: 500;
    line-height: 3.8rem;
    letter-spacing: -0.06rem;
  }
}
@layer Components.Spinner {
  .spinner {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    width: 13rem;
    padding: 1.2rem 1.6rem;
    box-sizing: border-box;
    border-radius: 0.8rem;
    background-color: #f5f5f5;
  }
  .spinner__minus {
    background: url(../images/ico_minus.svg) no-repeat center;
    background-size: contain;
    width: 2rem;
    height: 2rem;
  }
  .spinner__num {
    width: 5.8rem;
    text-align: center;
    border: none;
    color: #121212;
    font-weight: 600;
    line-height: 2.6rem;
    background-color: #f5f5f5;
  }
  .spinner__plus {
    width: 2rem;
    height: 2rem;
    background: url(../images/ico_plus.svg) no-repeat center;
    background-size: contain;
  }
}
@layer Components.Review {
  .review {
    display: grid;
    grid-template-columns: 72px 1fr;
    gap: 0 4rem;
  }
  .review__content {
    color: #353945;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  @media (1000px > width) {
    .review__content {
      grid-column: 1/3;
    }
  }
  .review__comment {
    display: flex;
    gap: 1.6rem;
    color: #23262f;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2rem;
  }
  @media (1000px > width) {
    .review__comment {
      grid-column: 1/3;
    }
  }
  .profile-img {
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 100%;
  }
  .profile-img img {
    width: 100%;
  }
  .review .profile-img {
    grid-row: 1/5;
  }
  .profile-name {
    color: #141718;
    font-size: 2rem;
    font-weight: 600;
    line-height: 3.2rem;
  }
}
@layer Layout.Header {
  .header {
    anchor-name: --header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: #fff;
  }
  @media (1000px > width) {
    .header {
      padding-inline: 3.2rem;
      box-sizing: border-box;
    }
  }
  @media (1000px > width) {
    .header h1 {
      display: flex;
      align-items: center;
      gap: 0.4rem;
    }
  }
  .header .btn-search {
    width: 4rem;
    height: 6rem;
  }
  @media (1000px > width) {
    .header .btn-search,
    .header .btn-user {
      display: none;
    }
  }
}
.footer .btn-youtube, .footer .btn-facebook, .footer .btn-insta {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
}

@layer Layout.Footer {
  .footer {
    padding-inline: 16rem;
    background-color: #141718;
    color: #fff;
  }
  .footer .logo {
    width: 10.5rem;
    height: 2.4rem;
  }
  .footer__top {
    color: #e8ecef;
    font-size: 1.4rem;
    font-weight: 2.2rem;
    line-height: 1;
    display: flex;
    justify-content: space-between;
    padding-block: 8rem 5.7rem;
  }
  .footer__nav {
    display: flex;
  }
  .footer__nav a {
    padding-inline: 2rem;
  }
  .footer__bot {
    display: flex;
    justify-content: space-between;
    padding-block: 2rem 5rem;
    border-top: 0.1rem solid #6c7275;
  }
  .footer__bot-info {
    color: #fefefe;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2rem;
    display: flex;
    gap: 2.8rem;
  }
  .footer__bot-copy {
    font-weight: 400;
  }
  .footer .sns-group {
    display: flex;
    gap: 2.4rem;
  }
  .footer .btn-insta {
    background: url(../images/ico_insta.svg) no-repeat center;
    background-size: contain;
  }
  .footer .btn-facebook {
    background: url(../images/ico_facebook.svg) no-repeat center;
    background-size: contain;
  }
  .footer .btn-youtube {
    background: url(../images/ico_youtube.svg) no-repeat center;
    background-size: contain;
  }
}
@layer Layout.IR {
  .ally-hidden {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
}
@layer Layout.Align {
  .align {
    display: flex;
  }
  .align.right {
    justify-content: flex-end;
  }
  .align.center {
    justify-content: center;
  }
  .align.both {
    justify-content: space-between;
  }
  .align.triple {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
  .align.triple > :nth-child(1) {
    justify-self: start;
  }
  .align.triple > :nth-child(2) {
    justify-self: center;
  }
  .align.triple > :nth-child(3) {
    justify-self: end;
  }
  .align.vt {
    align-items: flex-start;
  }
  .align.vm {
    align-items: center;
  }
  .align.vb {
    align-items: flex-end;
  }
  .text-left {
    text-align: left;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
  .mxauto {
    width: 122.4rem;
    margin-inline: auto;
  }
  @media (1000px > width) {
    .mxauto {
      width: 100%;
    }
  }
}
@layer Layout.Space {
  .mt4 {
    margin-top: 0.4rem;
  }
  .mt8 {
    margin-top: 0.8rem;
  }
  .mt16 {
    margin-top: 1.6rem;
  }
  .mt24 {
    margin-top: 2.4rem;
  }
  .mr4 {
    margin-right: 0.4rem;
  }
  .mr8 {
    margin-right: 0.8rem;
  }
  .mb4 {
    margin-bottom: 0.4rem;
  }
  .mb8 {
    margin-bottom: 0.8rem;
  }
  .ml4 {
    margin-left: 0.4rem;
  }
  .ml8 {
    margin-left: 0.8rem;
  }
  .mxauto {
    width: 112rem;
    margin-inline: auto;
  }
  @media (1000px > width) {
    .mxauto {
      width: 100%;
    }
  }
}
.only-mobile {
  display: none;
}
@media (1000px > width) {
  .only-mobile {
    display: block;
  }
}

@layer Layout.Topbanner {
  .top-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    color: #343839;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.2rem;
    box-sizing: border-box;
    background-color: #f3f3f3;
  }
  @media (1000px > width) {
    .top-banner {
      justify-content: center;
      gap: 1.4rem;
    }
  }
  .top-banner__content {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }
  .top-banner__content::before {
    background: url(../images/ico_ticket-percent.svg) no-repeat center;
    background-size: contain;
    content: "";
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
  }
  @media (1000px > width) {
    .top-banner .btn-shopnow {
      display: none;
    }
  }
}
@layer Layout.Gnb {
  @media (1000px > width) {
    .gnb {
      display: none;
    }
  }
  .gnb ul {
    display: flex;
  }
  .gnb li a {
    padding-inline: 2rem;
    color: #6c7275;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem;
  }
  .gnb li a.--active {
    color: #141718;
  }
}

/*# sourceMappingURL=style.css.map */
