@use '../abstracts/' as *;

@layer Layout.Header{
    .header{
        anchor-name:--header;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:rem(60);
        background-color:$white;
        @include mobile{
            padding-inline:rem(32);
            box-sizing: border-box;
        }
        h1{
            @include mobile{
                display:flex;
                align-items: center;
                gap:rem(4);
            }
        }
        .btn-search{
            width:rem(40);
            height:rem(60);
        }
        .btn-search,
        .btn-user{
            @include mobile{
                display:none;
            }
        }
    }
}

