//이미지경로
$imgurl : '../images/';

//반응형기준
$mobileSize : 1000px;
$tabletSize : 1200px;

//색깔
$gray14: #141718;
$gray34: #343839;
$gray6c: #6c7275;
$grayf3: #f3f3f3;
$grayfe: #fefefe;
$graye8: #e8ecef;
$blue: #377dff;
$orange: #FFAB00;
$black: #000;
$white: #fff;
