//이미지경로
$imgurl : '../images/';

//반응형기준
$mobileSize : 1000px;
$tabletSize : 1200px;

//색깔
$gray14: #141718;
$gray23: #23262f;
$gray34: #343839;
$gray35: #353945;
$gray60: #605f5f;
$gray6c: #6c7275;
$gray80: #807e7e;
$grayf3: #f3f3f3;
$grayf5: #f5f5f5;
$grayfe: #fefefe;
$graye8: #e8ecef;
$blue: #377dff;
$orange: #FFAB00;
$green: #38cb89;
$black: #000;
$black12: #121212;
$white: #fff;

//shadow
$shadow1: 0px 8px 16px -8px rgba(15, 15, 15, 0.12);

